#!/usr/bin/make -f

%:
	dh $@ --with systemd,python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python /usr/bin/python3 --no-test --preinstall numpy
override_dh_installinit:
	echo "Supressing installinit, unneeded for systemd only packages"
override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade
override_dh_gencontrol:
	dh_gencontrol -- -Vmisc:Depends="gunicorn3"
