[Unit]
Description=Titus container isolation
Wants=titus-kube-config.service virtual-kubelet-config.service
After=titus-kube-config.service virtual-kubelet-config.service
Requires=titus-isolate.socket
ConditionPathExists=!/run/is_kubelet

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/run/titus.env
EnvironmentFile=/run/virtual-kubelet.config
Environment=PYTHONPATH=/opt/venvs/titus-isolate/lib/python3.6/site-packages:/usr/lib/python3/dist-packages/
ExecStartPre=/bin/systemctl is-active titus-isolate.socket
ExecStartPre=/opt/venvs/titus-isolate/bin/pip3 install 'netflix-spectator-pyconf'
ExecStart=/usr/bin/gunicorn3 -w 1 --log-level=info titus_isolate.api.status:app
KillMode=mixed
Restart=on-failure
WatchdogSec=60
TimeoutStartSec=600

[Install]
Alias=titus-isolate
WantedBy=multi-user.target
