[Unit]
Description=Titus container isolation
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/run/titus.env
ExecStartPre=/usr/share/python/titus-isolate/bin/pip3 install 'netflix-spectator-pyconf'
ExecStart=/usr/share/python/titus-isolate/bin/titus-isolate --admin-port 7500
KillMode=mixed
Restart=on-failure
RestartSec=5

[Install]
Alias=titus-isolate
WantedBy=multi-user.target
