[Unit]
Description=Titus container isolation socket
PartOf=titus-isolate.service

[Socket]
ListenStream=127.0.0.1:7500
Backlog=64
Accept=no
ReusePort=yes

[Install]
WantedBy=sockets.target