[Unit]
Description=Titus container isolation
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/share/python/titus-isolate/bin/titus-isolate
Restart=always
RestartSec=5

[Install]
Alias=titus-isolate
