[Unit]
Description=Titus container isolation socket
PartOf=titus-isolate.service

[Socket]
ListenStream=127.0.0.1:7500
Accept=no
Backlog=64

[Install]
WantedBy=sockets.target